.footer-container {
  height: 6rem;

  background-color: white;
  display: grid;
  place-items: center;
}

.icons {
  order: 1px solid blue;
  padding: 0;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.icons img {
  margin-left: 2rem;
  margin-right: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 660px) {
  .footer-container {
    /* background-color: #fff2f2; */
    background-color: #b7542d;
  }
}
